*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;

}

.top-section {
    /*background-image: linear-gradient(to right, white 68%, rgba(0, 0, 0, 0)), url(./images/Ronaldo-fade.png);*/
    background-image: url(./images/Phones.png);
    background-repeat: no-repeat;
    background-position: right;
    background-size: auto 110%;
    position: relative;
    width: 100%;
    height: 665px;
    background-color: #F4F6F9;
    overflow: hidden;
}

.top-section .content {
    display: inline-block;
    width: 700px;
    height: 100%;
    margin: 0px 150px;
    padding: 50px 0px;
}

.content .logo-image { 
    margin-bottom: 100px;
}

.center-text h1 {
    font-size: 36px;
    line-height: 48px;
    margin-bottom: 50px;
    width: 546px;
    color: #333333;
}

.center-text p {
    font-size: 20px;
    width: 453px;
    line-height: 30px;
    color: #4f4f4f;
    margin-bottom: 50px;
}

.content .google-play {
    width: 350px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

